#wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
}

#sidebar, #content {
    position: absolute;
}
#sidebar {
    top: 60px;
    width: 300px;
    bottom: 0;
    overflow: scroll;
    z-index: 1;
}
#content {
    top: 60px;
    left: 300px;
    right: 0;
    bottom: 0;
    z-index: 2;
}
#mapid {
    z-index: 2
}
#wrapper {
    z-index:1
}
#settingsbtndiv{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 3;
}
#clonebtndiv{
    position: absolute;
    top: 10px;
    left: 90px;
    width: 40px;
    height: 40px;
    z-index: 3;
}
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 4;
}

#coordinateBox{
    position:absolute;
    left:5px;
    bottom:5px;
    z-index:3;
    background-color:rgba(255,255,255,0.75);
}

#pixelBox{
    position:absolute;
    right:5px;
    bottom:30px;
    width:300px;
    height:300px;
    z-index:3;
    background-color: rgba(8, 26, 255, 1);
}

#attribution{
    position:absolute;
    bottom:0px;
    right:0px;
    height: 27px;
    z-index:3;
    background-color:rgba(255,255,255,0.75);
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bolder;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 5px 18px;
    background-color: white;
    display: block;
    overflow: hidden;
}

.attr{
    color: black !important;
}

.camera {
    color: black;
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 20px; /* Vertically center the text (icon) */
    font-size: 20px;
}
.stampcamera {
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 10px; /* Vertically center the text (icon) */
    font-size: 10px;
}
.target {
    color: black;
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 20px; /* Vertically center the text (icon) */
    font-size: 20px;
}
.colorbtn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
}

input {
    text-align: right;
    cursor: pointer;
}
input[type=color].form-control {
    padding: 0;
    height: 40px;
 }

.hyp{
    color: darkblue !important;
}
